<div ng-hide="list.editMode">
    
    <ul class="image-group">
        <li ng-repeat="champion in list.selectedChampions"><img ng-src="{{champion.imageUrl}}" alt="{{champion.name}}" title="{{champion.name}}" /></li>
    </ul>
    
    <button class="btn btn-primary" ng-hide="list.readOnly" ng-click="list.edit()">Edit</button>
</div>

<div ng-show="list.editMode">

    <div class="form-group">
        <input type="text" class="form-control" ng-model="list.filterString" ng-change="list.filterChampions(list.filterString)" placeholder="Search Champions..." />
    </div>
    

    <ul class="image-group">
        <li ng-repeat="champion in list.editChampions" class="champion-select-edit" ng-class="{'champion-selected': champion.selected}" ng-click="list.selectChampion($index)">
            <img ng-src="{{champion.imageUrl}}" alt="{{champion.name}}" title="{{champion.name}}" />
        </li>
    </ul>
    
    <button class="btn btn-success" ng-click="list.save()">Save</button>
    <button class="btn btn-danger" ng-click="list.cancel()">Cancel</button>
</div>