<h3>Availability to Mentor</h3>

<form name="application.form" class="form-horizontal">
	<div class="form-group" ng-class="{'has-error': (application.submitted || application.form.summary.$touched) && application.form.summary.$invalid}">
		<label for="timezoneSelect" class="col-md-2 control-label">Select your Timezone</label>
		
		<div class="col-md-6">
			<seaal-timezone-picker selected-timezone="application.timezone"></seaal-timezone-picker>
		</div>
		
		<div class="col-md-4 help-only">
			<span id="timezoneSelectHelp" class="help-block">Please ensure you are on the correct timezone. This is important for scheduling mentoring sessions.</span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': (application.submitted || application.form.summary.$touched) && application.form.summary.$invalid}">
		<label for="timezoneSelect" class="col-md-2 control-label">Availability</label>
		
		<div class="col-md-6">
			<select class="form-control" ng-model="application.availability" ng-options="option.id as option.name for option in application.availabilityOptions">
				<option value="">Please Select..</option>
			</select>
		</div>
		
		<div class="col-md-4 help-only">
			<span id="timezoneSelectHelp" class="help-block">Select the most appropriate availability.</span>
			<span class="help-block" ng-show="application.availability === 1">Sporadically</span>
			<span class="help-block" ng-show="application.availability === 2">Same time every day</span>
			<span class="help-block" ng-show="application.availability === 3"></span>
		</div>
	</div>
	
	<div class="form-group" ng-class="{'has-error': (application.submitted || application.form.summary.$touched) && application.form.summary.$invalid}">
		<label for="timezoneSelect" class="col-md-2 control-label">Contact Preferences</label>
		
		<div class="col-md-6">
			<div class="checkbox" ng-repeat="preference in application.contactPreferences">
				<label>
					<input type="checkbox" ng-selected="preference.selected" /> {{preference.name}}
				</label>
			</div>
		</div>
		
		<div class="col-md-4 help-only">
			<span id="timezoneSelectHelp" class="help-block">Select how you would like potential mentee's to contact you.</span>
		</div>
	</div>
</form>
