<div class="row">
	<div class="col-lg-6">
		<h2>Add your Summoner(s)</h2>
		
		<form ng-submit="apply.addSummoner(apply.summonerName, apply.summonerRegion)">
	        <div class="form-group">
	            <input class="form-control" placeholder="Summoner Name..." ng-model="apply.summonerName" />
			</div>
			
			<div class="form-group">
				<select class="form-control" ng-options="region.id as region.longName for region in apply.regions" ng-model="apply.summonerRegion">
					<option selected value="">Select Region...</option>
				</select>
			</div>
			
			<div ng-show="apply.errors.length > 0" class="alert alert-danger">
				<ul>
					<li ng-repeat="error in apply.errors">{{error.message}}</li>
				</ul>
			</div>
			
			<div class="form-group">
	            <input type="submit" class="btn btn-primary" value="Add Summoner" />
	        </div>
	    </form>
	</div>
	<div class="col-lg-6">
		<h2>Your Current Summoners</h2>
		
		<eh-summoner-list user="apply.mentor"></eh-summoner-list>
	</div>
</div>